<form method="post">
    <div>
        <label for="mail">Identifiant : </label>
        <input id="mail" type="email" name="mail" placeholder="Votre adresse e-mail" requied/>
    </div>
    <div>
        <label for="password">Mot de passe : </label>
        <input id="password" type="password" name="pwd" placeholder="Votre mot de passe" requied />
    </div>
    <div>
        <button type="submit">Se connecter</button>
    </div>
</form>
