@{
    ViewData["Title"] = "Home Page";
    string text = "<p>Mon joli text</p><script>alert('Malveillant 👿!!!')</script>";

}
<a asp-action="Login" asp-controller="Auth" class="btn btn-success" title="Cliquez pour vous connecter">Se connecter</a>

@Html.Raw(text.Replace("<script>", "<span>").Replace("</script>", "</span>"))
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
